.header {

}

@media (max-width: @screen-xs-max) {
    .header {
        h1 {
            font-size: 3.0em;
        }
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .header {
        h1 {
            font-size: 3.0em;
        }
    }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .header {
        h1 {
            font-size: 3.0em;
        }
    }
}

@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
    .header {
        h1 {
            font-size: 3.5em;
        }
    }
}