<div header subtitle="PSI Dashboard" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        <!--#region Intro-->
        <p>
            PSI Dashboard is a simple project visualizer that increases project transparency, aids in portfolio planning, and helps identify cross-team dependencies.
        </p>
        <br />
        <div class="row info-row">
            <div class="col-sm-2"><b>Dates:</b></div>
            <div class="col-sm-10">May - December, 2014</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Technologies:</b></div>
            <div class="col-sm-10">
                <a href="https://angularjs.org/">AngularJS</a>,
                <a href="http://msdn.microsoft.com/en-us/library/dn448365(v=vs.118).aspx">ASP.NET Web Api 2</a>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Project type:</b></div>
            <div class="col-sm-10">Work project</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>How I Contributed:</b></div>
            <div class="col-sm-10">Designed and developed</div>
        </div>
        <hr />
        <div class="cleared"></div>
        <br />
        <!--#endregion-->
    </div>
</div>
