<div header subtitle="PSI Dashboard" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        <!--#region Intro-->
        <p>
            PSI Dashboard is a simple project visualizer that increases project transparency, aids in portfolio planning, and helps identify cross-team dependencies.
        </p>
        <br />
        <div class="row info-row">
            <div class="col-sm-2"><b>Dates:</b></div>
            <div class="col-sm-10">May - December, 2014</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Technologies:</b></div>
            <div class="col-sm-10">
                <a href="https://angularjs.org/">AngularJS</a>,
                <a href="http://msdn.microsoft.com/en-us/library/dn448365(v=vs.118).aspx">ASP.NET Web Api 2</a>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Project type:</b></div>
            <div class="col-sm-10">Work project</div>
        </div>
        <hr />
        <div class="cleared"></div>
        <br />
        <!--#endregion-->
        <!--#region-->
        <h5>Purpose</h5>
        <p>
            Tools like <a href="http://msdn.microsoft.com/en-us/vstudio/ff637362.aspx">TFS</a> provide large corporations with a seamless way to organize, plan, and execute and their software development efforts.
            Unfortunately, most project management tools focus on individual teams and team workflows, and neglect to include a simple way to aggregate all of a company's development metrics into a single view.
            PSI Dashboard aims to fill this gap by providing a glanceable frontend that communicates the organization's developement progress as a whole.
        </p>
        <h5>The PSI Concept</h5>
        <p>
            DuPont Pioneer organizes its development cadence into eight week (four sprint) chunks.  These chunks are known as Potentially Shippable Increments, or PSIs.
            At the end of every PSI boundary, each development team is expected to have a releasable product that includes the features that have been under development for the past two months.
        </p>
        <p>
            While the concept of a regular release schedule is hardly unique to Pioneer, the specific implementation and nomenclature of this process made working with third-party management tools awkward at best.
            
        </p>
        <!--#endregion-->
    </div>
</div>
