<div header title="Portfolio" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        <p><span style="font-weight:bold">Welcome{{s}}.</span>  Thanks for taking a few minutes to check out some of the highlights of my personal and professional software projects.</p>
        <p class="hidden-xs hidden-sm">Click a project on the left to begin.  And of course, if you have questions about any of the projects on this page, don't hesitate to contact me: <a href="mailto:contact@nathanfriend.com">contact@nathanfriend.com</a>.</p>
        <p class="hidden-md hidden-lg hidden-xl">Select a project from the menu to begin.  And of course, if you have questions about any of the projects on this page, don't hesitate to contact me: <a href="mailto:contact@nathanfriend.com">contact@nathanfriend.com</a>.</p>
        <br />
        <br />
        <img src="images/signature.png" alt="Nathan Friend" width="200"/>
    </div>
</div>