<div header subtitle="Location Manager" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        <!--#region Intro-->
        <p>
            Location Manager (LM) is a multi-crop, globalized WPF application used by crop breeders
            to easily interface with the organization's many legacy databases.
        </p>
        <br />
        <div class="row info-row">
            <div class="col-sm-2"><b>Dates:</b></div>
            <div class="col-sm-10">May 2013 - Current</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Technologies:</b></div>
            <div class="col-sm-10">
                <a href="http://msdn.microsoft.com/en-us/library/ms754130(v=vs.110).aspx">WPF</a>,
                <a href="http://msdn.microsoft.com/en-us/library/ff648465.aspx">Microsoft Prism</a>
                <a href="http://msdn.microsoft.com/en-us/library/ms731082(v=vs.110).aspx">WCF</a>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Project type:</b></div>
            <div class="col-sm-10">Work project</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>How I Contributed:</b></div>
            <div class="col-sm-10">
                Worked as core member of the Location Manager development team
            </div>
        </div>
        <hr />
        <div class="cleared"></div>
        <br />
        <!--#endregion-->
        <!--#region-->
        <!--#endregion-->
    </div>
</div>
