<div header subtitle="SoyLib" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        <p>Beginning in 2013, DuPont Pioneer's Research IM department began a concerted effort to provide a consistent end-user experience across its entire application portfolio.  The result of this effort was SoyLib, an opinionated WPF library that enforces a common backend structure and provides resuable frontend components.</p>
        <br />
        <div class="row info-row">
            <div class="col-sm-2"><b>Dates:</b></div>
            <div class="col-sm-10">May 2013 - present</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Technologies:</b></div>
            <div class="col-sm-10">WPF, Microsoft Prism</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>How I Contributed:</b></div>
            <div class="col-sm-10">Designed and developed a majority of the framework's visual components</div>
        </div>
        <hr />
        <div class="cleared"></div>
        <br />
        <h5>Modals</h5>
        <p>The most important (and most complex) UI components provided by SoyLib are modals.  Inspired by Twitter Bootstrap, SoyLib allows developers to easily show custom content as a modal, and gracefully handles displaying multiple modals.</p>
        <p>Showing a modal is simple:</p>
        <div code brush="c-sharp">
            var uiManager = new UserInteractionManager();
            uiManager.ShowCustomModal("MyCustomView");  // where MyCustomView has been registered with the DI container
        </div>
        <p>In addition, SoyLib ships with some stock views that mimic WPF's built-in <span class="inline-code">ShowMessageBox()</span> functionality:</p>
        <div code brush="c-sharp">
            uiManager.ShowMessageBox("Your Message Box", "Here's a message box for you", MessageBoxButton.OK);
        </div>
        <p>The result:</p>
        <img src="images/modals.gif" class="img-responsive demo-image bordered" />
        <hr />
        <br />
        <h5>Validation</h5>
        <img src="images/animated-expander.gif" class="img-responsive demo-image" />
        <br />
        <p>Modals</p>
        <img src="images/modal-progress-bar.gif" class="img-responsive demo-image" />
        <br />
        <p>Modals</p>
        <img src="images/quiet-notification.gif" class="img-responsive demo-image" />
        <br />
        <p>Modals</p>
        <img src="images/quiet-progress.gif" class="img-responseive demo-image" />
        <br />
        <p>Modals</p>
        <img src="images/tabs.gif" class="img-responsive demo-image" />
        <br />
        <p>Modals</p>
        <img src="images/transitions.gif" class="img-responsive demo-image" />
        <br />
    </div>
</div>




