<div class="hidden-sm hidden-xs">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <span style="margin-right: -10px;">{{title}}</span>
                <span class="accented">{{subtitle}}</span>
            </h1>
        </div>
    </div>

    <hr />
</div>
<div class="mobile hidden-md hidden-lg" ng-if="subtitle && subtitle !== ''">
    <h1>
        <span class="title">{{title}}</span>
        <span class="accented">{{subtitle}}</span>
    </h1>
</div>
<div class="mobile hidden-md hidden-lg" ng-if="!subtitle || subtitle === ''">
    <h1>
        <span class="nosubtitle">{{title}}</span>
    </h1>
</div>

