<div header subtitle="SoyLib" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        <p>Beginning in 2013, DuPont Pioneer's Research IM department began a concerted effort to provide a consistent end-user experience across its entire application portfolio.  The result of this effort was SoyLib, an opinionated WPF library that enforces a common backend structure and provides resuable frontend components.</p>
        <br />
        <div class="row info-row">
            <div class="col-sm-2"><b>Dates:</b></div>
            <div class="col-sm-10">May 2013 - present</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Technologies:</b></div>
            <div class="col-sm-10">WPF, Microsoft Prism</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>How I Contributed:</b></div>
            <div class="col-sm-10">Designed and developed a majority of the framework's visual components</div>
        </div>
        <hr class="minor-break" />
        <div class="cleared"></div>

        <p>Here's a quick look at some of the visual components provided by SoyLib (and something here about the API?):</p>
        <p>Modals</p>
        <img src="images/animated-expander.gif" />
        <br />
        <p>Modals</p>
        <img src="images/modal-progress-bar.gif" />
        <br />
        <p>Modals</p>
        <img src="images/modals.gif" />
        <br />
        <p>Modals</p>
        <img src="images/quiet-notification.gif" />
        <br />
        <p>Modals</p>
        <img src="images/quiet-progress.gif" />
        <br />
        <p>Modals</p>
        <img src="images/tabs.gif" />
        <br />
        <p>Modals</p>
        <img src="images/transitions.gif" />
        <br />
    </div>
</div>




