<div header subtitle="SoyLib" class="header"></div>
<div class="portfolio-content">
    <p>Beginning in 2013, DuPont Pioneer's Research IM department began a concerted effort to provide a consistent end-user experience across its entire application portfolio.  The result of this effort was SoyLib, an opinionated WPF library that enforces a common backend structure and provides resuable frontend components.</p>
    <br />
    <p>
        <div class="details-label">Dates:</div>
        <div class="details-content">May 2013 - present</div>
        <div class="cleared"></div>
        <div class="details-label">Technologies:</div>
        <div class="details-content">WPF, Microsoft Prism</div>
        <div class="cleared"></div>
        <div class="details-label">How I Contributed:</div>
        <div class="details-content">Designed and developed a majority of the framework's visual components</div>
        <div class="cleared"></div>
    </p>
    <hr class="minor-break"/>
    <div class="cleared"></div>

    <p>testing</p>
</div>



